<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'ninjagold/css/style.css' %}" type="text/css">
        <meta charset="utf-8">
        <title>Ninja Gold</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <p>Your Gold:</p>
                <p id="goldbox">{{request.session.currentGold}}</p>
            </header>
            <div class="rooms">
                    <ul>
                        <li>Farm<p>(earns 10-20 golds)</p><form class="" action="process_money" method="post">{% csrf_token %}<input type="hidden" name="location" value="Farm"><input type="submit" name="submit" value="Find Gold!"></form></li>
                        <li>Cave<p>(earns 5-10 golds)</p><form class="" action="process_money" method="post">{% csrf_token %}<input type="hidden" name="location" value="Cave"><input type="submit" name="submit" value="Find Gold!"></form></li>
                        <li>House<p>(earns 2-5 golds)</p><form class="" action="process_money" method="post">{% csrf_token %}<input type="hidden" name="location" value="House"><input type="submit" name="submit" value="Find Gold!"></form></li>
                        <li>Casino<p>(earns/takes 0-50 golds)</p><form class="" action="process_money" method="post">{% csrf_token %}<input type="hidden" name="location" value="Casino"><input type="submit" name="submit" value="Find Gold!"></form></li>
                    </ul>
            </div>
            <p id="activities">Activities:</p>
            <div id="activitiesbox">
                {% for entry in request.session.log reversed %} <!-- nice! with flask I had to manually setup a range starting from the log length and decrementing to zero -->
                {{entry | safe}}
                {% endfor %}
            </div>
            <form class="" action="restart" method="post">
                {% csrf_token %}
                <input id="restartButton" type="submit" name="restartGame" value="Restart Game">
            </form>
        </div>
    </body>
</html>
